<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Home</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <object th:include="main :: css" th:remove="tag"/>
    <object th:include="main :: js" th:remove="tag"/>

</head>

<body>

<object th:include="main :: common-header" th:remove="tag"/>

<div class="container">

    <div class="row">

        <div class="container">
            <div class="text-center create-experiment-header">
                <h2>Add new sensor</h2>
            </div>

            <div th:if="${errMsg}!=null" class="alert alert-danger">
                <strong th:text="${errMsg}"></strong>
            </div>

            <form role="form" data-toggle="validator" class="form-horizontal" name="addPluginsForm"
                  action="/plugin/addPlugin"
                  method="post" onsubmit="return selectFile()" enctype="multipart/form-data">

                <div class="form-group">
                    <label for="name">
                        Name
                        <small class="text-muted">(Name of the sensor)</small>
                    </label>
                    <input class="form-control input-lg"
                           type="text"
                           name="name"
                           id="name"
                           placeholder="Sensor name"
                           required="required"/>
                    <p class="help-block with-errors"></p>
                </div>
                <div class="form-group">
                    <label for="name">
                        Description
                        <small class="text-muted">(Description of the sensor)</small>
                    </label>
                    <textarea class="form-control-static col-lg-12"
                              name="description"
                              id="description"
                              placeholder="Sensor Description"
                              required="required"></textarea>
                    <p class="help-block with-errors"></p>
                </div>

                <div class="form-group">
                    <label for="name">
                        Image Icon URL
                        <small class="text-muted">(An image url with a descriptive icon for the sensor)
                        </small>
                    </label>
                    <input class="form-control input-lg"
                           type="url"
                           name="imageUrl"
                           id="imageUrl"
                           placeholder="Sensor Image URL"
                           required="required"/>
                    <p class="help-block with-errors"></p>
                </div>
                <div class="form-group">
                    <label for="name">
                        Android Package
                        <small class="text-muted">(Android package of the sensor)
                        </small>
                    </label>
                    <input class="form-control input-lg"
                           type="text"
                           name="contextType"
                           id="contextType"
                           placeholder="eu.organicity.set.sensors.mysensor"
                           required="required"/>
                    <p class="help-block with-errors"></p>
                </div>

                <div class="form-group">
                    <label for="name">
                        Service Name
                        <small class="text-muted">(Name of the Service class of the sensor)
                        </small>
                    </label>
                    <input class="form-control input-lg"
                           type="text"
                           name="filename"
                           id="filename"
                           placeholder="MySensorServiceName"
                           required="required"/>
                    <p class="help-block with-errors"></p>
                </div>

                <div class="col-md-12 text-center">
                    <button type="submit"
                            class="btn btn-info btn-lg col-md-6 col-md-offset-3">
                        Add
                    </button>
                </div>

            </form>
        </div>
    </div>
</div>
</body>
</html>
